<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>{{PLIST_NAME}}</string>
    <key>ProgramArguments</key>
    <array>
      <string>{{WORKDIR}}/{{EXE_NAME}}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>{{WORKDIR}}/stderr.log</string>
    <key>StandardOutPath</key>
    <string>{{WORKDIR}}/stdout.log</string>
    <key>WorkingDirectory</key>
    <string>{{WORKDIR}}</string>
    <key>StartInterval</key>
    <integer>10</integer>
  </dict>
</plist>
