# ログローテーションの設定


# logfilename       [owner:group]  mode  count  size     when  flags  [/pid_file]  [sig_num]
{{PWD}}/stderr.log  hotoku:staff   640   5      10000    *     NJ
{{PWD}}/stdout.log  hotoku:staff   640   5      10000    *     NJ
